<!--Navbar start-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><h2 class="text-warning">Macq</h2></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#mob-navbar"
      aria-label="Toggle"
    ></button>
    <div class="collapse navbar-collapse" id="mob-navbar">
      <ul class="navbar-nav mb-2 mb-lg-0 mx-auto"></ul>
      <form class="d-flex">
        <input class="form-control me-2" type="text" placeholder="Username" />
        <input
          class="form-control me-2"
          type="password"
          placeholder="Password"
        />
        <button class="btn btn-warning" type="submit">Login</button>
      </form>
    </div>
  </div>
</nav>
<!--Navbar end-->

<div class="horse-table">
  <table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">Horse’s name</th>
        <th scope="col">Colour</th>
        <th scope="col">Speed</th>
        <th scope="col">Breed</th>
        <th scope="col">Image</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Bruno</th>
        <td>brown</td>
        <td>44 km/h</td>
        <td>American quarter</td>
        <td>
          <img
            src="https://i.pinimg.com/originals/41/66/db/4166db94e41cd964ef54f8c844b25824.jpg"
            alt=""
          />
        </td>
      </tr>
      <tr>
        <th scope="row">Jacob</th>
        <td>black</td>
        <td>63 km/h</td>
        <td>Friesian</td>
        <td>
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/f/f6/Friesian_Stallion.jpg"
            alt=""
          />
        </td>
      </tr>
      <tr>
        <th id="newHorse" scope="row">Rebel</th>
        <td>white</td>
        <td>50 km/h</td>
        <td>Arabian</td>
        <td>
          <img
            src="http://images6.fanpop.com/image/photos/35800000/Stunning-White-Horse-random-35867219-2996-1960.jpg"
            alt=""
          />
        </td>
      </tr>
    </tbody>
  </table>
</div>
